<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superstudentregion.mapper.ArticleMapper">
    <sql id="allCol">
        article_id,
        user_id,
        article_title,
        submit_time,
        article_html_path,
        article_md_path,
        like_count,
        unlike_count,
        release_time,
        collection_count,
        type_id,
        read_permission,
        state_flag,
        del_flag
    </sql>

    <select id="selectAllArticleByUser" parameterType="ArticleResult" resultType="ArticleResult">
        SELECT
        a.article_id,
        count(ac.article_id) commentCounts,
        a.article_title,
        a.submit_time,
        a.article_html_path,
        a.article_md_path,
        a.release_time,
        a.collection_count,
        a.like_count,
        a.read_permission,
        a.state_flag,
        a.del_flag,
        a.type_id,
        u.user_id userId,
        u.user_name,
        u.avatar_path,
        u.sex,
        u.school,
        u.major,
        u.signature,
        u.email,
        u.tel,
        u.role,
        u.state_flag userStateFlag
        FROM
        article_info a
        LEFT JOIN user_info u ON a.user_id = u.user_id
        LEFT JOIN (select article_id from article_comment where del_flag = 0) ac on a.article_id = ac.article_id
        <where>
            <if test="userId !=null">
                u.user_id = #{userId}
            </if>
            <if test="readPermission!=null">
                and a.read_permission = #{readPermission}
            </if>
            <if test="typeId!=null">
                and a.type_id &amp; #{typeId} !=0
            </if>
            <if test="preReleaseTime!=null and sufReleaseTime!=null">
                and a.release_time&gt;#{preReleaseTime}
            </if>
            <if test="preReleaseTime!=null and sufReleaseTime!=null">
                and a.release_time&lt;#{sufReleaseTime}
            </if>
            <if test="userName!=null and userName!=''">
                and u.user_name = like '%${userName}%'
            </if>
            <if test="articleTitle!=null and articleTitle!=''">
                and a.article_title like '%${articleTitle}%'
            </if>
        </where>
        GROUP BY
            a.article_id
        order by
            a.release_time
        desc
    </select>

    <select id="selectArticleById" parameterType="Integer" resultType="ArticleInfo">
        select
        <include refid="allCol" />
        from
        article_info
        where
        article_id = #{articleId}
        and
        del_flag = 0
    </select>

    <delete id="deleteArticleById" parameterType="Integer">
        delete
        from
            article_info
        where
            article_id = #{articleId}
    </delete>

    <update id="updateArticle" parameterType="ArticleInfo">
        update
        article_info
        <set>
            <if test="articleTitle!=null and articleTitle!=''">
                article_title = #{articleTitle},
            </if>
            <if test="typeId!=null">
                type_id = #{typeId},
            </if>
            <if test="readPermission!=null">
                read_permission = #{readPermission},
            </if>
            <if test="stateFlag!=null">
                state_flag = #{stateFlag},
            </if>
                release_time =now()
        </set>
        <where>
            <if test="articleId!=null">
                article_id = #{articleId}
            </if>
            <if test="userId!=null">
                and user_id = #{userId}
            </if>
        </where>
    </update>

    <insert id="insertArticle" parameterType="ArticleInfo">
        insert
        article_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId!=null">
                user_id,
            </if>
            <if test="articleTitle!=null and articleTitle!=''">
                article_title,
            </if>
            <if test="articleHtmlPath!=null and articleHtmlPath!=''">
                article_html_path,
            </if>
            <if test="articleMdPath!=null and articleMdPath!=''">
                article_md_path,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            submit_time,
            release_time,
            read_permission,
            state_flag,
            del_flag
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="articleTitle!=null and articleTitle!=''">
                 #{articleTitle},
            </if>
            <if test="articleHtmlPath!=null and articleHtmlPath!=''">
                #{articleHtmlPath},
            </if>
            <if test="articleMdPath!=null and articleMdPath!=''">
                 #{articleMdPath},
            </if>
            <if test="typeId != null">
                 #{typeId},
            </if>
            now(),
            now(),
            1,
            0,
            0
        </trim>
    </insert>

    <insert id="insertCollector" parameterType="CollectorArticle">
        insert
          article_collector
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="collectorUserId!=null">
                user_id,
            </if>
            <if test="articleId!=null">
                article_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="collectorUserId!=null">
                #{collectorUserId},
            </if>
            <if test="articleId!=null">
                #{articleId}
            </if>
        </trim>
    </insert>
    <delete id="delCollector" parameterType="CollectorArticle">
        delete
        from
            article_collector
        where
            article_id = #{articleId}
        and
            user_id = #{collectorUserId}
    </delete>
    <select id="allCollectorByUser" parameterType="ArticleResult" resultType="ArticleResult">
        SELECT
            a.article_id,
            ac.user_id collectorUserId,
            a.article_title,
            a.submit_time,
            a.article_html_path,
            a.article_md_path,
            a.release_time,
            a.collection_count,
            a.like_count,
            a.read_permission,
            a.state_flag,
            a.del_flag,
            a.type_id,
            a.user_id authorUserId,
            u.user_name,
            u.avatar_path,
            u.sex,
            u.school,
            u.major,
            u.signature,
            u.email,
            u.tel,
            u.role,
            u.state_flag userStateFlag
        FROM
	        article_info a
        LEFT JOIN
            article_collector ac
        ON
            ac.article_id = a.article_id
        LEFT JOIN
            user_info u
        ON
            u.user_id = a.user_id
        <where>
            <if test="collectorUserId !=null">
                ac.user_id = #{collectorUserId}
            </if>
            <if test="readPermission!=null">
                and a.read_permission = #{readPermission}
            </if>
            <if test="typeId!=null">
                and a.type_id &amp; #{typeId} !=0
            </if>
            <if test="preReleaseTime!=null and sufReleaseTime!=null">
                and a.release_time&gt;#{preReleaseTime}
            </if>
            <if test="preReleaseTime!=null and sufReleaseTime!=null">
                and a.release_time&lt;#{sufReleaseTime}
            </if>
            <if test="userName!=null and userName!=''">
                and u.user_name = like '%${userName}%'
            </if>
            <if test="articleTitle!=null and articleTitle!=''">
                and a.article_title like '%${articleTitle}%'
            </if>
        </where>
    </select>
</mapper>